<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p>Sparkalkylatorn</p>

<form th:object="${UserFinancials}" th:action="@{/calculate}" METHOD="post">
    <label>Ingående värde</label><br>
    <input type="number" th:field="*{currentSavingsValue}"><br>
    <label>Månadsutgifter</label><br>
    <input type="number" th:field="*{monthlyExpense}"><br>
    <label>Månadssparande</label><br>
    <input type="number" th:field="*{monthlySavings}"><br>
    <label>Antal år för sparande</label><br>
    <input type="number" th:field="*{yearsToSave}"><br>
    <input type="submit" value="submit">
</form>
</body>
</html>